body {
  background: url(wp3212531.jpg);
  background-repeat: no-repeat;
  background-size:77cm;
  background-position: -1370px ;
}
a {
  margin-top: 350px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2cm;
  color: black;
}
.container {
  display: grid;
  place-items: center;

}